<% include partials/header %>


<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Travel Bug</h1>
        <p style="font-size:20px">Plan a camping trip around the World,this site was built for 
        people who want to share thier travels!!!!</p>

         <p><a class="btn btn-success btn-lg"  href="/campgrounds" role="button">Explore The World</a></p>


  </div>
</div>

<% include partials/footer %>